
<html>
    <head>
        <title>登入</title>
    </head>
    <body>
        <!-- 頁面頭部區域 -->
        <header>
            <h1 style="text-align: center"> 登入帳號</h1>
            <h3 style="text-align: center">加入FoodpanGO，開啟美食探索之旅</h3>
            <hr style="border: 5px solid black; width: 50%;">
            <hr style="border: 1px solid black; width: 50%;">
        </header>

        <!-- form -->
         
        <br>
        
        <form method="POST" action="/login">
        <center>
        帳號: <input type="text" name="ID" > <br><br><br>
        密碼: <input type="password" name="PWD" > <br><br><br><br><br><br>
        <input type="submit"  value="提交">
        
        </center>
        
        </form>
            
    </body>
</html>