
<html>
    <head>
        <title>追蹤訂單</title>
    </head>
    <body>
        <!-- 頁面頭部區域 -->
        <header>
            <h1 style="text-align: center"> 追蹤訂單</h1>
            <hr style="border: 5px solid black; width: 50%;">
            <hr style="border: 1px solid black; width: 50%;">
        </header>
        <br>

        <p>小哥資訊:</p>
        <p>店家資訊:</p>
        <p>商品資訊:</p>


        <center>
            <a href="GoodBad.html">收貨成功</a>
            <a href="GoodBad.html">尚未收貨</a>
        </center>

            
    </body>
</html>